* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: slateblue;
    color:plum;
    padding: 15px;
}

h1 {
    display: inline-block;
    font-size: 48px;
    margin-left: 15px;
    margin-bottom: 10px;
}

nav {
    float: right;
    font-size: 32px;
    margin-right: 25px;
    margin-top: 8px;
}

ul {
    list-style-type: none;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color:plum;
    text-decoration: none;
}

.quickintro {
    display: flex;
    float: left;
    flex-direction: column;
    width: 50%;
    padding-top: 75px;
    margin-top: 45px;
}

h2 {
    font-size: 75px;
    text-align: center;
}

.quickintro p {
    font-size: 48px;
    color:gray;
    text-align: center;
    padding-top: 25px;
    margin-top: 25px;
}

.eajay {
    display: flex;
    float: right;
    flex-direction: column;
    width: 50%;
    padding: 75px;

}

.eajay img {
    max-height: 500px; 
    image-rendering: smooth;
}

.meat {
    display: inline-block;
}

.abouts {
    justify-content: center;
}

.abouts h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    padding-right: 500px;
    margin-right: 500px;
}

.abouts p {
    display: block;
    font-size: 24px;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-left: 100px;
}

.project {
    justify-content: center;
}

.project h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    padding-right: 500px;
    margin-right: 500px;
}